@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

 p, h1, h2, h3, h4, h5, a {
	font-family: Roboto, sans-serif, Arial, Verdana;
}
*{
	margin: 0%;
	margin: 0%;
}
/*NAV*/
#navbalk {
	position: fixed;
	width: 100%;
	z-index: 100;
}
#navbalk ul {
	list-style-type: none;
	background-color: #2699FB;
	padding-left: 0;
}
#navbalk ul li {
	display: inline-block;
	padding: 1em;
	vertical-align: middle;	
}
#navbalk ul h2:hover {
	background-color: #2699FB;
}
#navbalk ul li a {
	color: #FFFFFF;
	text-decoration: none;
	float: left;
}
#navbalk ul li:hover{
	background-color: #000000;
}
/*NAV EIND*/


/*COOKIE*/
#cookies {
    position: fixed;
    bottom: 0;
    z-index: 9999;
	background-color: #2699FB;
	padding: 0.5em;
	border: solid 1px
}
#cookies h3 {
	margin-bottom: 0.2em;
}
.cookiebutton {
	background-color: #FFFFFF;
	padding: 0.2em;
	border-radius: 0.4em;	
}
/*COOKIE EIND*/

/*HERO*/
#hero_foto {
	margin: 0%;
	display: block;
	width: 100%;
}
#hero_title {
	background-color: #2699FB;
	text-align: center;
}
#hero_title h1 {
	font-size: 3em;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
#hero_title h2 {
	font-size: 1.5em;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
/*HERO EIND*/


/*MAIN*/
#maincontent {
	display: grid;
	grid-template-columns: auto auto;
	max-width: 50em;
	margin: 0 auto;
	padding: 1em 0;
}
#haarlemheader, #haarlemartikel, #maincontentimg, #haarlemfooter {
	display: inline;
}
#haarlemheader, #haarlemfooter {
	grid-column: 1 / span 5;
	background-color: #2699FB;
	text-align: center;
}
#haarlemartikel {
	grid-column: 1 / span 3;
}
#maincontentimg {
	grid-column: span 2;
}
#maincontent p {
	padding-left: 0.5em;
}
#haarlemheader h1{
	font-size: 2.3em;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
#haarlemheader h2 {
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
#maincontentimg img {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 0.5em;
}
.maincontentp {
	padding-top: 1.5em;
}

#maincontent a {
	text-decoration: none;
}
#maincontent a:hover {
	color: #FFFFFF;
}
#maincontent a:visited {
	color: #000000;
}
#haarlemfooter h2 {
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
/*MAIN EIND*/


/*SECONDARY*/
.wrapper {
	display: grid;
	grid-template-columns: auto auto;
}
#secondarycontent {
	max-width: 50em;
	margin: 0 auto;
	padding: 1em 0;
}
#secondaryheader, #secondaryfooter {
	grid-column: 1 / 6;
	background-color: #2699FB;
	text-align: center;
}
#secondaryheader h2,#secondaryheader h3,#secondaryfooter h3 {
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
#secondaryarticlepart1 {
	grid-column: 1 / span 5;
}
#secondaryarticlepart3 {
	grid-column: 1/ span3 ;
}
#secondaryarticlepart2 {
	grid-column: 3/ 6;
}
#secondaryheader h3, #secondaryfooter h3 {
	padding-bottom: 0.5em;
}
#secondarycontent h3 {
	padding-top: 0.5em;
}
#secondarycontent h2 {
	padding-top: 0.388em;
}
#secondarycontent p {
	padding-top: 0.1em;
}
#secondarycontent img {
	max-width: 80%;
	grid-column: span 2;
	justify-content: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5em;
}
/*SECONDARY EIND*/


/*SPORT*/
#sportcontentheader {
	background-color: #2699FB;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	margin: auto;
	max-width: 50em;
}
#sportcontentheader h1 {
	padding-top: 0.388em;
	padding-bottom: 0.388em;
	margin-bottom: 0.66em;
}
#mudocontent {
	max-width: 50em;
	margin: auto;
	padding-bottom: 1em;
}
#mudocontent h2 {
	text-align: center;
}
#mudocontent p {
	padding-bottom: 0.4em;
}
.sportgrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 10px;
	margin: 0 auto;
	max-width: 50em;
}
.gridarticle {
	position: relative;
}
.gridarticle img{
	object-fit: cover;
	width: 100%;
	height: 190px;
}
.title_article {
	position: absolute;
	max-width: 100%;
	color: #FFF;
	padding-left: 0.3em;
	padding-top: 0.3em;
	top: 0;
	text-shadow: 2px 2px #000000;
}
#sportfooter {
	max-width: 50em;
	margin: auto;
	background-color: #2699FB;
	color: #2699FB;
	padding-bottom: 2em; 
}
/*SPORT EIND*/


/*REFERRAL*/
#referralcontent {
	max-width: 50em;
	margin: auto;
	text-align: center;
}
#referralaside p {
	padding-bottom: 0.5em;
}
#referralfooter {
	max-width: 50em;
	margin: auto;
	margin-top: 1em;
	background-color: #2699FB;
	color: #2699FB;
	padding-bottom: 2em; 
}
.referralbutton {
	margin: auto;
	max-width: 20em;
	background-color: #2699FB;
	border-radius: 1em;
	border: 1px solid #FFFFFF;
	display: block;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
}
.referralbutton a {
	text-decoration: none;
}
.referralbutton:hover {
	background-color: #2680FB;
	position: relative;
	top: 1px;
}
.referralbutton a:visited {
	color: #FFFFFF;
}
/*REFERRAL EIND*/


/*CONTACT*/
#contactcontent {
	max-width: 50em;
	margin: auto;
}
/*CONTACT EIND*/


/*FOOTER*/
#footer {
	background-color: #2699FB;
}
/*FOOTER EIND*/


















